*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-----------------------------------*/
.layer1{
	background: url('../img/Layer_1.png') no-repeat;
	width: 1366px;
	height: 751px;
	opacity: 0.8;
}
.bouncy{
color: white;
font-family: "Big John";
font-size: 25px;
font-weight: 800;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding: 100px 0px;
margin: 100px;
}
.text{
padding: 150px 0px 0px 350px;
width: 527px;
height: 17px;
color: #ffffff;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: left;
/* Text style for "Hello" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.h1{
	border: 1px solid #fff;
	border-radius: 10px;
	margin:  15px;
	padding: 3px 8px;
}
.h2{
	margin: 15px;
}
.h3{
	margin: 15px;
}
.h4{
	margin: 15px;
}
.h5{
	margin: 15px;
}
.h6{
	margin: 15px;
}
.code{
color: #ffffff;
font-family: "Source Sans Pro";
font-size: 35px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 70px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 7px;
line-height: normal;
text-align: center;
margin: 200px;
}
.cafe{
color: #fff;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: center;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
margin: 30px;
}
.png{
width: 50px;
height: 50px;
background: url('../img/logo.png') no-repeat;
border-radius: 50%;
margin: 270px 0px 52px 450px;
}

.this{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-align: left;
margin: 110px 0px 10px 0px;
}
.text1{
width: 466px;
height: 139px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
margin: 20px 0 0 0;
text-transform: capitalize;
}
.read1{
width: 140px;
height: 30px;
border-radius: 19px;
border: 1px solid #333b46;
margin: 70px 0px;
color: #333b46;
font-size: 16px;
padding: 5px 10px;
letter-spacing: normal;
color: #333b46;
font-family: "Open Sans";
font-size: 16px;
text-transform: capitalize;

}
.phone{
background: url('../img/IPAD.png');
width: 215px;
height: 350px;
margin: -400px 0px 0px 700px;
}
.layer2{
width: 1366px;
height: 448px;
background-color: #e6ebe9;
margin: 0px 0px 0px -200px;
}
.details{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: -400px 0px 0px 320px;
}
.text3{
width: 457px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: center;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
margin: 30px 0px 0px 240px;
}
.ellipse1{
background: url('../img/Ellipse_3_copy_5.png') no-repeat;
width: 53px;
height: 53px;
text-align: center;
margin: 50px 0px 0px 330px;
}
.ellipse2{
background: url('../img/Ellipse_3_copy.png') no-repeat;
width: 53px;
height: 53px;
margin: -40px 100px;
}
.ellipse3{
background: url('../img/Ellipse_3_copy_5.png') no-repeat;
width: 53px;
height: 53px;
margin: -41px 100px;
}
.create{
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 125px;
text-align: left;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
text-transform: capitalize;
}
.text4{
width: 321px;
height: 101px;
color: #81868e;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: left;
margin: 20px 0px;
text-transform: capitalize;
}
.text5{
width: 515px;
height: 114px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
font-family: "Open Sans";
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
margin: -115px 0px 0px 500px;
}
.future{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: center;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: 90px 0px 200px 0;
}
.text6{
width: 457px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
text-transform: capitalize;
margin: -170px 0px 61px 250px;
}
.pic1{
background: url('../img/WORKS.png') no-repeat;
width: 1366px;
height: 319px;
margin: 0px 0px 0px -200px;
}
.pic2{
background: url('../img/FOLD_FOOTER.png')no-repeat;
width: 1366px;
height: 113px;
margin: 0px 0px 0px -200px;
}
.our{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: center;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: 50px 0px 0px 0px;
}
.text7{
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: center;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
text-transform: capitalize;
margin: 40px 0 0 0;
}
.design{
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 125px;
text-align: left;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
text-transform: capitalize;
margin: 40px 0 0 100px;
}
.el1{
background: url('../img/Ellipse_3_copy_5.png') no-repeat;
width: 53px;
height: 53px;
margin: -20px 0px 0px -100px;
}
.text8{
width: 393px;
height: 69px;
color: #81868e;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: left;
font-family: "Open Sans";
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
text-transform: capitalize;
margin: 40px 0 0 100px;
}
.el2{
background: url('../img/Ellipse_3_copy.png') no-repeat;
width: 53px;
height: 53px;
margin: -80px 0 0 0;
}
.text9{
width: 396px;
height: 89px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
text-transform: capitalize;
font-family: "Open Sans";
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
margin: 30px 0 0 100px;
}
.el3{
background: url('../img/Ellipse_3_copy_5.png');
width: 53px;
height: 53px;
margin: -90px 0 0 0;
}
.el4{
background: url('../img/Ellipse_3_copy.png');
width: 53px;
height: 53px;
margin: 20px 0 0 0;
}
.web{
color: #81868e;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
text-transform: capitalize;
margin: 0;
}
.a1{
	margin: -50px 0 0 600px;
}
.a2{
	margin: -18px 0 0 750px;
}
.a3{
	margin: -18px 0 0 930px;
}
.cir1{
background: url('../img/Ellipse_1_copy_2.png') no-repeat;
width: 123px;
height: 125px;
margin: -160px 0 0 575px;
}
.cir2{
background: url('../img/Ellipse_1_copy_2.png') no-repeat;
width: 123px;
height: 125px;
margin: -125px 0 0 730px;
}
.cir3{
background: url('../img/Ellipse_1_copy_2.png') no-repeat;
width: 123px;
height: 125px;
margin: -125px 0 0 890px;
}
.dig1{
width: 41px;
height: 18px;
color: #81868e;
font-family: "Open Sans";
font-size: 25px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
margin: -70px 0 0 615px;
}
.dig2{
width: 41px;
height: 18px;
color: #81868e;
font-family: "Open Sans";
font-size: 25px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
margin: -18px 0 0 770px;
}
.dig3{
width: 41px;
height: 18px;
color: #81868e;
font-family: "Open Sans";
font-size: 25px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
margin: -19px 0 0 930px;
}
.abd{
background: url('../img/Layer_4.png') no-repeat;
width: 1366px;
height: 392px;
background-color: #000000;
margin: 300px 0 0 -200px;
}
.scr{
background: url('../img/Layer_7.png') no-repeat;
width: 409px;
height: 328px;
margin: -450px 0 0 650px ;
}
.imp{
color: #f3f3f3;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: -200px 0 0 -1000px;
}
.text10{
width: 596px;
height: 69px;
color: #b2b3b3;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28px;
text-align: left;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
text-transform: capitalize;
margin: 40px 0 0 -100px;
}
.noman{
width: 233px;
height: 36px;
color: #b2b3b3;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
text-transform: uppercase;
margin: 0 0 0 -100px;
}
.green{
color: #19bd9a;
font-family: "Open Sans";
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
}
.text11{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: center;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: 200px 0 0 0;
}
.text12{
width: 457px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: center;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
margin: 30px 0 40px 250px;
text-transform: capitalize;
}
.port{
width: 575px;
height: 17px;
color: #464646;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: left;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.b1{
margin: 15px;
text-transform: capitalize;
}
.b2{
margin: 15px;
text-transform: capitalize;
}
.b3{
margin: 15px;
text-transform: capitalize;
}
.b4{
margin: 15px;
text-transform: capitalize;
}
.b5{
margin: 15px;
text-transform: capitalize;
}
.b6{
margin: 15px;

}
.b7{
margin: 15px;
text-transform: capitalize;
}
.bord{
	border: 0px solid #000;
	width: 60px;
	height: 4px;
	border-radius: 10px;
	background: #58c78a;
	margin: 0 0 0 191px;
}
.icon1{
background: url('../img/Layer_86.png');
width: 270px;
height: 361px;
margin: 30px 0 0 -75px;
}
.icon2{
background: url('../img/Layer_87.png');
width: 270px;
height: 229px;
margin: -361px 0 0 200px;
}
.icon3{
background: url('../img/Layer_91.png');
width: 270px;
height: 301px;
margin: -229px 0 0 475px;
}
.icon4{
background: url('../img/Layer_88.png');
width: 270px;
height: 361px;
margin: -301px 0 0 750px;
}
.icon5{
background: url('../img/Layer_90.png');
width: 270px;
height: 361px;
margin: 5px 0 5px -75px;
}
.icon6{
background: url('../img/Layer_95.png');
width: 270px;
height: 344px;
margin: -498px 0 0 200px;
}
.icon7{
background: url('../img/Layer_89.png');
width: 270px;
height: 374px;
margin: -272px 0 0 475px;
}
.icon8{
background: url('../img/Layer_93.png');
width: 270px;
height: 269px;
margin: -314px 0 0 750px;
}
.icon9{
background: url('../img/Layer_92.png');
width: 270px;
height: 209px;
margin: 97px 0 0 -75px;
}
.icon10{
background: url('../img/Layer_96.png');
width: 270px;
height: 357px;
margin: -358px 0 0 200px;
}
.icon11{
background: url('../img/Layer_94.png');
width: 270px;
height: 255px;
margin: -255px 0 0 475px;
}
.icon12{
background: url('../img/Layer_97.png');
width: 270px;
height: 301px;
margin: -301px 0 0 750px;
}
.rect{
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 12px;
text-align: center;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
margin: 70px 0 0 0;
}
.text13{
width: 457px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: center;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
text-transform: capitalize;
margin: 30px 0 0 250px;
}
.abdulla{
background: url('../img/Layer_103.png');
width: 285px;
height: 364px;
margin: 70px 0 0 -20px;
}
.name{
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 125px;
text-align: left;
font-style: normal;
letter-spacing: 0.8px;
line-height: normal;
margin: -350px 0 0 750px;
}
.name1{
color: #81868e;
font-family: "Source Sans Pro";
font-size: 14px;
font-weight: 300;
font-style: italic;
letter-spacing: normal;
line-height: 25px;
text-align: right;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.4px;
line-height: normal;
margin: 0px 20px 20px 20px;
}
.border11{
border: 0px solid #000;
height: 37px;
width: 4px;
border-radius: 10px;
background: #58c78a;
margin: -59px 0 0 980px;
}
.text14{
width: 365px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: right;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
text-transform: capitalize;
margin: 10px 0 0 580px;
}
.brand{
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: right;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.6px;
line-height: normal;
}
.br1{
margin: 50px 250px 0 0;
}
.br2{
margin: 50px 233px 0 0;
}
.br3{
margin: 50px 200px 0 0;
}
.border101{
height: 3px;
width: 230px;
border-radius: 10px;
background: #58c78a;
margin: -135px 0 0 635px;
}
.border102{
height: 3px;
width: 170px;
border-radius: 10px;
background: #58c78a;
margin: 67px 0 0 635px;
}
.border103{
height: 3px;
width: 208px;
border-radius: 10px;
background: #58c78a;
margin: 67px 0 0 635px;
}
.border111{
height: 3px;
width: 80px;
border-radius: 10px;
background-color: #e1e4e9;
margin: -143px 0 0 863px;
}
.border222{
height: 3px;
width: 140px;
border-radius: 10px;
background-color: #e1e4e9;
margin: 67px 0 0 803px;
}
.border333{
height: 3px;
width: 102px;
border-radius: 10px;
background-color: #e1e4e9;
margin: 67px 0 0 842px;
}
.digits1{
width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.6px;
line-height: normal;
margin: -165px 0 0 910px;
}
.digits2{
width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.6px;
line-height: normal;
margin: 60px 0 0 910px;
}
.digits3{
width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 25px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 1.6px;
line-height: normal;
margin: 60px 0 0 910px;
}
.pix1{
height: 10px;
width: 10px;
border: 0px solid #000;
background-color: #19bd9a;
border-radius: 50%;
margin: 130px 0 0 450px;
}
.pix2{
height: 10px;
width: 10px;
border: 1px solid #17bd75;
background-color: #fff;
border-radius: 50%;
margin: -10px 0 0 470px;
}
.pix3{
height: 10px;
width: 10px;
border: 0px solid #000;
background-color: #19bd9a;
border-radius: 50%;
margin: -10px 0 0 490px;
}